[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adafruit-circuitpython-fancyled = "*"
circuitpython-stubs = "*"
adafruit-circuitpython-neopixel = "*"
adafruit-circuitpython-ticks = "*"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.7"
